/* CSS declarations go here */
.formula-head {
    font-size: 16pt;
}
.formula-result {
    font-size: 16pt;
}

.hero-unit {
    padding: 30px;
    border: 6px solid;
    background-color: white
}

.hero-unit p {
    font-size: 14px;
    line-height: 20px;
}

div.grain-bill {
    border-color: #F6F513;
}

div.mash-water {
    border-color: #ECE61A;
}

div.mash-in {
    border-color: #D5BC26;
}

div.mash {
    border-color: #BF923B;
}

div.hop-schedule {
    border-color: #BF813A;
}

div.boil {
    border-color: #BC6733;
}

div.fermentation {
    border-color: #8D4C32;
}

div.tile {
    background-color: #eee;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

div.list-title {
    font-weight: bold;
    font-size: 16pt;
}

div.list-date {
    font-style: italic;
    font-size: 10pt;
}
